<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLC2_Android"
        tools:targetApi="31">
        <activity
            android:name=".TestListViewActivity"
            android:exported="false" />
        <activity
            android:name=".TestUILayoutActivity"
            android:exported="false" />
        <activity
            android:name=".TestUIWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".DialogActivity"
            android:exported="false" /> <!-- 下面的theme使用的是对话框主题 -->
        <activity
            android:name=".NormalActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ActivityLifeCycle"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true">

            <!-- 配置这个使其能够隐列相应：action和Category -->
            <intent-filter>
                <action android:name="android.intent.action.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:label="MLC2111">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>